* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 14px;
}

body {
    background-color: #0D0D0D;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.voltar {
  position: fixed;
  top: 25px;
  left: 25px;
  background: linear-gradient(135deg, #D38E35, #E3A85A);
  color: #0D0D0D;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: 0 0 15px #E3A85A50;
  transition: 0.3s;
  z-index: 10;
}

.voltar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #E3A85A;
}


footer .dev {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
  margin-bottom: 10px;
}

footer .dev a {
  color: #E3A85A;
  text-decoration: none;
  transition: 0.3s;
}

footer .dev a:hover {
  text-shadow: 0 0 8px #E3A85A;
}